<!DOCTYPE html>
<html lang="en">
  <head>
      <title>PetFinder</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/stylesheets/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <%- include('header'); %>
    <div class="main-container">
      <div class="nav-container"><%- include('nav'); %></div>
      <div class="content-container">
        <p class="app-info">PetFinder is a full stack application built using <b>M</b>ongoDB, <b>E</b>xpress.js, <b>E</b>JS, <b>N</b>ode.js.</p>
        <hr>
        <menu>
        <div class="main-content">
            <div class="about-content">
                <h2>Implementation Details</h2>
                <h4>App Features:</h4>
                <ul>
                    <li>View pet records</li>
                    <li>Add, Edit, Delete pet records</li>
                    <li>Filter pet records by gender, size, age and location</li>
                </ul>
                <h4>Requirement Breakdown:</h4>
                <ul>
                    <li>Define database schema and data models</li>
                    <li>Generate scripts to populate database</li>
                    <li>Create UI pages</li>
                    <li>Show pet records on the Home page</li>
                    <li>Show implementation details on the About page</li>
                    <li>Enable routing</li>
                    <li>Create Add form</li>
                    <li>Create Edit form</li>
                    <li>Enable Edit/Delete for existing pet records</li>
                    <li>Enable filtering</li> 
                    <li>Enable image uploads</li>
                </ul>
                
            </div>
        </div>
      </menu>
    </div>
    </div>
  </body>
  <footer>
    <%- include('footer'); -%>
  </footer>
</html>


