<div class="nav">
    <li class="nav-items"><span><i class="fa fa-home" aria-hidden="true"></i></span>  <a  href="/catalog">Home </a></li>
    <li class="nav-items"><span><i class="fa fa-info-circle" aria-hidden="true"></i></span>  <a href="/catalog/about">About</a></li>
</div>
