<div class="nav">
    <li><a href="/catalog">Home </a></li>
    <li> <a href="/catalog/pet/add">Add</a></li>
    <li>Edit</li>
    <li>Delete</li>
    <li><a href="/catalog/about">About</a></li>
</div>
